@charset "utf-8";
/* CSS Document */

.main-header {
    background-image:url("../images/hakkımdaarka.jpg");
    width: 100vw;
    height: 80vh;
    position: relative;
    background-size:cover;
    background-position: center;
}
.main-header-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 30px;
    background: rgba(46, 76, 109, 0.3);
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}